<div ng-include="'app/views/sistema/menu.html'"></div>
<div id="wrapper">
	<div id="page-wrapper" ng-init="menu()">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">
						Início
					</h1>
					<ol class="breadcrumb">
						<li class="active">
							<i class="fa fa-home""></i> Início
						</li>
					</ol>
				</div>
			</div>
			<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary ">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-coffee "></i> Seja muito bem vindo</h3>
                        </div>
                        <div class="panel-body">
                        	<div class="row">
                        		
                        	<h3 class="col-md-6 col-md-offset-3">O que nosso sistema faz?</h3>
                        	</div>
                        	<p class="help-block">Nosso sistema está pronto para gerar uma lista aleatória de pessoas    		encarregadas de preparar o café durante a semana. Com alguns cliques você irá gerar uma lista 		dos encarregados para cada turno, realizando os seguintes passos:
                        	</p>
                            <div class="list-group">
                                <div class="list-group-item">
                                    <i class="fa fa-users fa-fw"></i>Fazendo os cadastros dos encarregados
                            	</div>
                        	</div>
                            <div class="list-group">
                                <div class="list-group-item">
                                    <i class="fa fa-calendar-check-o fa-fw"></i> Depois é só gerar a lista 
                            	</div>
                        	</div>
							<div class="code">
								<figure class="animated slideInDown">
									<img src="images/maq.png" title="Cafeteira" />
								</figure>
								<h1 class="animated fadeIn"><i class="fa fa-heart" aria-hidden="true"></i>Café</h1>	
							</div>
                            <div class="list-group">
                                <div class="list-group-item">
                                    <i class="fa fa-battery-full fa-fw"></i> E nossa energia estará carregada com um bom café.
                            	</div>
                        	</div>	
	                    </div>
                	</div>
            	</div>
	    	</div>
	    </div>
	</div>
</div>